# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Sentry Config File
.sentryclirc
firestore-debug.log

argus-talent-search-firebase-adminsdk-fbsvc-12b4f493ad6d.json
argus-talent-search-12b4f493ad6d.json
argus-india-v2-firebase-adminsdk-fbsvc-cc980e26ea.json
argus-india-v2-cc980e26ea.json
